<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" meda="all" href="/css/noire.css">
    <link rel="stylesheet" type="text/css" meda="all" href="/css/navbar.css">
        <link rel="icon" href="/images/logo.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kahit Ano | Error</title>

</head>
<body>



        <!-- Container for Posts and the Sidebar -->
        <div class="hori" style="justify-content: center; padding-top: 20px;">

            <p>
                Error 69, rendering error
                <p>{{error}}</p>
            </p>

        </div>

</body>
</html>

<!-- 
TODO:
1. change img source to accomodate database
2. change href to expanded post, or initialize an expanded post page
3. Fix functionality (if broken)
-->