<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/noire.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kahit Ano | Home</title>

</head>
<body onload="showPost()">

        {{> nav logged=loggeduser.loggedIn username=loggeduser.username imgtype=loggeduser.dp.contentType imgbuffer=loggeduser.dpBuffer }}
        <!--   Placeholder for the searchbar/header -->

        <!-- Container for Posts and the Sidebar -->
        <div class="hori" style="justify-content: center; padding-top: 20px;">

            <!-- Posts -->                  
            <div class="vert block"id="all_posts">

                 <!-- Right side of equals are the properties of each post in AllPosts (passed in from controller.js) --> 
                 <!-- Left side of equals are html elements in Post-body that will be replaced --> 
                {{#each AllPosts}}
                    {{> Postbody posterId=posterId vote=score username=postUsername imgtype=dpType imgbuffer=dpBuffer post_title=title post_text=content}}
                {{/each}}

            </div> 

            <!-- Sidebar -->
            <div class="vert block">

                {{> Sidebar }}

            </div>

        </div>
        <script src="./javascript/home.js"></script> 
        <script src="./javascript/grab_text.js"></script>

</body>
</html>

<!-- 
TODO:
1. change img source to accomodate database
2. change href to expanded post, or initialize an expanded post page
3. Fix functionality (if broken)
-->