body{
    font-size: 18px;
    color: #E8EAED;
    background-color: #181a1d;
}
div{
    display: inline-block;
}
nav{
    width: 100%;
    align-items:center;
    justify-content:center;
    margin-bottom: 30px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1a1a1b;
    max-height: 50px;
    padding-top: 2px;
    padding-bottom: 1px;
}
a .button{

    color:white;
}
.button:hover{
    cursor: pointer;
    background-color: #44b93b;
    transition: 0.3s;
}
.username-container .button2{
    display: none;
}
.bg{
    display: none;
}
.username-container{
    margin-right: 5px;
    align-items: start;
}
.username-container div{
    padding: 5px 0 5px 0;
}
.username-container:hover .button2{
    cursor: pointer;
    display: inline-block;
    position: fixed;
    top: 40px;
    color: white;
}
.username-container:hover #logout{
    
    top: 70px;
}
.username-container:hover div:hover{
    color:#28c635;
    cursor: pointer;
}
.username-container:hover .bg{
    display: inline-block;
    position: fixed;
    height: 100px;
    width: 185px;
    top: 0;
    right: 0;
    background-color: #1a1a1b;
    z-index: -1;
}

nav img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
nav div{
    padding: 3px;
    margin: 1px;
}
#logo{
    margin-right: 15px;
}
input{
    padding: 7px;
    margin: 1px;
    flex-grow: 9999;
    font-size: 18px;
    border-radius: 20px;
    padding-left: 20px;
    background-color: #37383a;
    color: #E8EAED;
}
input::placeholder{
    font-size: 18px;
}


nav .filler{
    width: 12.5%;
}


.button{
    padding: 7px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
    background-color: #276c22;
    border-radius: 20px;
}
a .button{
    color:white;
}
.button:hover{
    background-color: #44b93b;
}
.username a{
    padding-left: 0;
}
.username a div{
    display: none;
}
.bg{
    display: none;
}
.username{
    margin-right: 5px;
    align-items: start;
}
.username div{
    padding: 5px 0 5px 0;
}
.username:hover a div{
    cursor: pointer;
    display: inline-block;
    position: fixed;
    top: 40px;
    color: white;
}
.username:hover a .button3{
    cursor: pointer;
    top: 70px;
}
.username:hover .button2:hover{
    cursor: pointer;
    color:#C62828;
}
.username:hover .button3:hover{
    cursor: pointer;
    color:#C62828;
}
.username:hover .bg{
    cursor: pointer;
    display: inline-block;
    position: fixed;
    height: 100px;
    width: 130px;
    top: 0;
    right: 0;
    background-color: #1a1a1b;
    z-index: -1;
}



