body{
    font-size: 18px;
    color: #E8EAED;
    background-color: #181a1d;
}
div{
    display: inline-block;
}
nav{
    width: 100%;
    align-items:center;
    justify-content:center;
    margin-bottom: 30px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1a1a1b;
    max-height: 50px;
    padding-top: 2px;
    padding-bottom: 1px;
}
nav img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
nav div{
    padding: 3px;
    margin: 1px;
}
#logo{
    margin-right: 15px;
}

#logo:hover{
    cursor: pointer;
}

input{
    padding: 7px;
    margin: 1px;
    flex-grow: 9999;
    font-size: 18px;
    border-radius: 20px;
    padding-left: 20px;
    background-color: #37383a;
    color: #E8EAED;
}
input::placeholder{
    font-size: 18px;
}
nav .filler{
    width: 12.5%;
}
.button{
    padding: 7px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
    background-color: #276c22;
    border-radius: 20px;
}
a .button{

    color:white;
}
.button:hover{
    cursor: pointer;
    background-color: #44b93b;

}
.username-container .button2{
    display: none;
}
.bg{
    display: none;
}
.username-container{
    margin-right: 5px;
    align-items: start;
}
.username-container div{
    padding: 5px 0 5px 0;
}
.username-container:hover .button2{
    cursor: pointer;
    display: inline-block;
    position: fixed;
    top: 40px;
    color: white;
}
.username-container:hover #logout{
    
    top: 70px;
}
.username-container:hover div:hover{
    color:#C62828;
}
.username-container:hover .bg{
    display: inline-block;
    position: fixed;
    height: 100px;
    width: 130px;
    top: 0;
    right: 0;
    background-color: #1a1a1b;
    z-index: -1;
}
.post{
    width: 60%;
    margin: auto;
    margin-top: 100px;
    background-color: #37383a;
    padding: 10px;
    border-color: #000000;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
}
.post:hover{
    border-color: aliceblue;
}
.pfp{
    height: 24px;
    width: 24px;
    border-radius: 50%;
    vertical-align: middle;
}
.op{
    height: 30px;
    width: 30px;
}
.user div{
    font-size: 20px;
    vertical-align: middle;
}
.user{
    margin-bottom: 6px;
}
.header{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
}
.content{
    font-size: 24px;
    font-weight: 200;
    margin-bottom: 15px;
}
.rate{
    align-items: center;
    padding-right: 8px;
}
.upvote{
    background-image:url(../images/sprite_sheets/post-sprites.png);
    margin: 0;
    width:24px;
    height:24px;
    background-position: 0px 0px;
}
.vote{
    font-size: 0.75em;
    padding-top: 3px;
    padding-bottom: 3px;
}
.downvote{
    background-image:url(../images/sprite_sheets/post-sprites.png);
    margin: 0;
    width:24px;
    height:24px;
    background-position: -24px 0px;
}
#add-comment{
    padding: 7px;
    margin: 1px;
    font-size: 18px;
    border-radius: 20px;
    padding-left: 20px;
    background-color: #37383a;
    color: #E8EAED;
    margin-bottom: 25px;
    height: 5em;
}
.comment-proper{
    flex-grow: 9999;
}
.reply{
    margin-left: 40px;
}
.add-reply{
    padding: 7px;
    margin: 1px;
    font-size: 0.75em;
    margin-left: 0;
    margin-bottom: 10px;
    border-radius: 20px;
    padding-left: 20px;
    background-color: #37383a;
    color: #E8EAED;
    height: 3em;
}