<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/noire.css">
    <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/images/logo.png">
    <title>Kahit Ano | Search Results</title>
</head>
<body onload="showPost()">

    {{> nav logged=loggeduser.loggedIn username=loggeduser.username imgtype=loggeduser.dp.contentType imgbuffer=loggeduser.dpBuffer }}
	<div class="container" style ="display: flex; justify-content: center;">
        <!-- Container for Posts and the Sidebar -->
        <div class="hori" style="justify-content: center;">
            <!-- Posts -->   
			{{#if AllPosts}}
			<h1>Search Results</h1>
            <div class="vert block"id="all_posts">			
                <!-- Sample Post -->
				{{#each AllPosts}}
                    {{> Postbody commentnum=commentnum postSpan=span postredId=postId posterId=posterId vote=score username=postUsername imgtype=dpType imgbuffer=dpBuffer post_title=title post_text=content del=delete}}
                {{/each}}
            </div>
			{{else}}
				<h1>Nothing Found</h1>
			{{/if}}
        </div>
	</div>

	<script src="/js/script.js"></script> 
	<script src="/js/grab_text.js"></script>
</body>
</html>