div.profile_title {
	margin-top:20px;
    margin-bottom: 20px;
    font-size:20px;
    font-weight: 700;
    padding-left:20px;
    color: white;
    text-align: center;
}

#profile_picture {
	border-radius: 50%;
	height: 100px;
	width: 100px;
	align-content: center;
	display: block;
 	margin-left: auto;
  	margin-right: auto;
  	margin-top: 10px;
  	margin-bottom: 10px;
}

.profile_center {
	text-align: center;
}

#profile_edit {
	font-family: 'Rubik', monospace;
    text-align: justify;
}

#profile_posts_num, #profile_comments_num {
	font-weight: 700;
}

.profile_bio {
	text-align: center;
	margin: 5px 5px 5px 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#profile_bio_edit {
	display: none;
}

#profile_edit_button {
	text-align: center;
	margin-left: auto;
    margin-right:auto;
}

form {
	margin-left: auto;
    margin-right:auto;
    width: 50%;
	display: table;
}

label {
	display: table-row;
}

input {
	display: table-row;
}

#profile_div {
	max-width: 40%;
	max-height: 30%;
	overflow:auto;
	display:table;
}

.profile_picture:hover {
	opacity: 0.5;
}

input[type="file"] {
    display: block;
	margin: auto;
	
}